.analize_header {
  width:  100%;
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
.analize_header_logo_man{
  width: 143px;
  height: 154px;
  object-fit: contain;
  margin: 1rem;
}
.analize_text {
  margin: 0 280px 0 100px;
}

.analize_header_logo{
  width: 108px;
  height: 84px;
}