















































































.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  height:  56px;
  font-size: 2rem;
}
.header_navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.header_logo{
  color: blue;
  text-decoration: none;
}

.header_navigation-items{
  color: blue;
  font-size: 2rem;
}
.header_navigation-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header_navigation-items a {
  padding: 0 0.5rem;
  text-decoration: none;
}

.header_spacer {
  flex:1;
}

.header__logo {
  margin-left: 1rem;
}

.header_navigation-items a:hover{
  text-decoration: underline;
}

.header_navigation-items a:active{
  color: #fa9239;
}

@media (max-width: 768px) {
  .header_navigation-items {
    display: none; 
  }
}

@media (min-width: 769px) {
  .header_toggle-button-close {
    display: none;
  }
} 