html {
  height: 100%;
  width: 100%;
  margin: 0 auto ;
}

.header {
  width: 1280px;
  height: 56px;
  background-color: greenyellow;
  /* background-color: #ffffff; */
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;


}
.header_nav {
  width: 49px;
  height: 18px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.24px;
  color: #616161;
}

.header_nav-add {
  width: 139px;
  height: 18px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.24px;
  color: #00aeef;
  margin: 7px;
}

.spacer{
  flex:1;
}


.GS-3 {
  width: 140px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  margin: 7px;

}
.GS-1-White {
  width: 140px;
  height: 32px;
  background-color: #ffffff;
}

.Placeholder {
  width: 124px;
  height: 16px;
}


.MCB-3{
  width: 92px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #00aeef;
  margin: 0 10px;
}

.user-circle {
  width: 32px;
  height: 32px;
  object-fit: contain;
}



.-Label {
  width: 39px;
  height: 16px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #00aeef;
}

.Blue-3 {
  width: 120px;
  height: 32px;
  background-color: #00aef2;
}
.chevron_right {
    width: 24px;
    height: 24px;
    margin: 0 0 0 15px;
}
.-Label_res {
  width: 101px;
  height: 16px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
}

.Rectangle-R4 {
  width: 125px;
  height: 32px;
  border-radius: 4px;
  margin: 0 24px 0 0;
}
.header_navigation {
  margin: 0 0 0 15px;
}
